<phpunit>
	<testsuites>
		<testsuite name="models">
			<file>models/CashTest.php</file>
		</testsuite>
		<testsuite name="database">
			<file>install/InstallDbTest.php</file>
		</testsuite>
		<testsuite name="services">
		    <file>services/CategoriesServiceTest.php</file>
		</testsuite>
	</testsuites>
</phpunit>
