<phpunit>
	<testsuites>
		<testsuite name="models">
			<file>models/CashTest.php</file>
			<file>models/CurrencyTest.php</file>
			<file>models/TaxesTest.php</file>
		</testsuite>
		<testsuite name="database">
			<file>install/InstallDbTest.php</file>
		</testsuite>
		<testsuite name="services">
		    <file>services/CategoriesServiceTest.php</file>
			<file>services/CashesServiceTest.php</file>
		</testsuite>
		<testsuite name="api">
			<file>api/APIEngineTest.php</file>
			<file>api/VersionAPITest.php</file>
			<file>api/CashesAPITest.php</file>
			<file>api/CategoriesAPITest.php</file>
		</testsuite>
	</testsuites>
</phpunit>
