#menu-container {
	width: 200px;
	float: left;
}

.content {
	margin-left: 200px;
}

.menu-section {
	border: 1px solid black;
	border-radius: 20px;
	width: auto;
	width: 80%;
	margin: 20px 0;
}
.menu-section-title {
    font-weight: bold;
    text-align: center;
	background-color: #409617;
	background-image: linear-gradient(bottom, rgb(47,69,44) 18%, rgb(63,150,23) 59%);
	background-image: -o-linear-gradient(bottom, rgb(47,69,44) 18%, rgb(63,150,23) 59%);
	background-image: -moz-linear-gradient(bottom, rgb(47,69,44) 18%, rgb(63,150,23) 59%);
	background-image: -webkit-linear-gradient(bottom, rgb(47,69,44) 18%, rgb(63,150,23) 59%);
	background-image: -ms-linear-gradient(bottom, rgb(47,69,44) 18%, rgb(63,150,23) 59%);
	color: #FFF;
	padding: 5px 0 5px 0;
	overflow: hidden;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
.menu {
	list-style-type: none;
	padding: 5px 8px;
	margin: 0px;
}
.menu li {
	margin: 5px 0 5px 0;
}
.menu li img {
	vertical-align: middle;
	margin-right: 3px;
}

form {
	width: 600px;
}

label {
	display: inline-block;
	width: 250px;
}
input {
	width: 330px;
}
.edition a,
.edition button {
	display: inline-block;
	border: 0;
	background: none;
	cursor: pointer;
	padding: 0;
	margin-left: 10px;
	margin-right: 10px;
}
.edition form {
	display: inline-block;
	width: auto;
}

h1 {
	background-color: #409617;
	border: 1px solid black;
	border-radius: 5px;
	padding-left: 20px;
	color: #FFF;
}

table {
	border: 1px inset black;
}
thead tr {
	background-color: #409617;
	color: #FFF;
}
thead tr:hover {
	background-color: #409617;
}
td {
	border-top: 1px solid black;
	padding: 10px 5px 10px 5px;
}
th {
	text-align: left;
	padding: 20px;
}
tr {
	background-color: #D3FFBF;
}
tr.row-odd {
	background-color: #E5FFD9;
}
tr:hover {
	background-color: #91E869;
}
.thumbnail {
	max-width: 32px;
	max-height: 32px;
}
