body {
	margin: 0px;
	height:100%;
        font-family: helvetica, sans;
}
#version {
	font-size: xx-small;
	margin-right: 2px;
	text-align: right;
	text-transform: lowercase;
}
#version a, #toggle-menu a {
	color: #AE4E39;
	text-decoration: none;
}
#toggle-menu {
	float:left;
	font-size: xx-small;
	margin-left: 20px;
	text-align: left;
	text-transform: lowercase;
}
#menu-container {
	float: left;
	font-family: Titillium;
	width: 200px;
	height: 100%;
	padding: 0px 10px 0 0;
}
#logo {
        width: 200px;
}
#logo img {
        display: block;
        margin: 0 auto;
}
#content {
	padding: 50px 10px;
	margin-left: 210px;
}
#header, #footer {
	color: #FFF;
	width:100%;
	background-color: #21435C;
	font-size: small;
	text-align: center;
        padding: 1px 0;
}
#search {
        float: right;
        margin: 10px auto;
        border: solid 1px #CCC;
}
#search h5 {
    margin: 15px auto 5px auto;
    text-align: center;
}
#header a, #footer a {
        color: #CCC;
}
#header a:visited, #footer a:visited {
	color: #CC8989;
}

.menu-section {
        width: 90%;
        margin: 10px auto;
        border: solid 1px #CCC;
}

#search .title, .menu-section-title {
        font-family: @Titillium;
        font-weight: bold;
        text-align: center;
        background-color: #21435C;
        color: #DDD;
        padding: 5px 0 2px 0;
        overflow: hidden;
}

#search form {
        margin: 10px;
}
.menu {
	list-style-type: none;
	padding: 3px 8px;
	margin: 0px;
}
.menu li {
	margin: 5px 0 5px 0;
	min-height: 22px;
}
.menu a,
.menu a:visited,
.menu a:active {
	display: block;
	color: #A3351E;
	font-weight: bold;
	text-decoration: none;
	background-repeat: no-repeat;
	background-position: 0% 50%;
	padding-left: 26px;
	min-height: 20px;
	line-height: 20px;
}
.menu a:hover {
	color: #C27353;
}

div.pagination {
    padding: 3px;
    margin: 3px;
    color: #21435C;
    font-size:80%;
}

div.pagination a {
    text-decoration: none;
    color: #21435C;
    border: 1px solid #21435C;
    margin-right:3px;
    padding:5px 7px;
}

div.pagination a:hover, div.pagination a:active {
    border: 1px solid #21435C;
    background-image:none;
    background-color: #9BBBD4;
    color: #21435C;
}

div.pagination a.current_page {
    margin-right:3px;
    padding:5px 7px;
    border: 1px solid #21435C;
    font-weight: bold;
    background-color: #9BBBD4;
    color: #21435C;
}

.btn, .btn-send, .btn-edition, .btn-delete, .btn-import, .btn-export {
        font-family: Titillium;
        font-weight: bold;
	text-align: center;
	background-color: #21435C;
	color: #DDD;
	border: solid 1px #333;
	text-decoration: none;
	padding: 5px 10px;
	margin: 5px;
}
.btn-send {
	background-color: #D6B66F;
	color: #333;
}
.btn-edition {
	background-color: #21435C;
}
.btn-delete {
	background-color: #4F4C4D;
}
.btn-import, .btn-export {
        background-color: #333;
}
.btn img {
	vertical-align: middle;
        margin-right: 3px;
}
.btn:hover, .btn-send:hover, .btn-import:hover, .btn-delete:hover {
	background-color: #AE4E39;
}

.message {
	background-color: #FBC108;
	border: 2px solid #DDD;
	padding: 8px 15px;
	margin: 0px 30px 20px 30px;
}
.error {
	background-color: #4F4C4D;
	border: 2px solid #333;
	padding: 8px 15px;
        color: #DDD;
	margin: 0px 30px 20px 30px;
}

form.edit  {
	border: 1px solid #333;
	background-color: #DDD;
	width: 600px;
	padding: 15px;
        margin: 20px 40px;
}
form.edit fieldset {
	border: 1px solid #333;
	padding: 10px 0px;
	margin-top: 15px;
}
form.edit fieldset legend {
	font-weight: bold;
	margin-left: 20px;
}
form.edit label {
	display: inline-block;
	width: 27%;
	margin-left: 3%;
}
form.edit input,
form.edit select {
	width: 65%;
}

.edit .row {
	width: 600px;
	padding: 5px 0;
}

.edit .row label {
	display: inline-block;
	width: 27%;
	margin-left: 3%;
}
.edit .row input,
.edit .row select {
	width: 65%;
}
.edit .row input.dateinput {
	width: 6.5em;
}

.edit .row input#start { width:6.5em; }
.edit .row input#stop { width:6.5em; }

.edit .actions {
	margin-top: 15px;
	text-align: right;
}

.edition form {
	display: inline-block;
	width: auto;
}

h1, h2, h3, h4, h5, h6 {
	color: #A3351E;
	font-family: Titillium;
}
h1 {
	padding: 25px 20px 5px 10px;
	font-size: 200%;
}
h2 { font-size: 150%; }

button { border: none; background: none; }

table {
	border: 1px inset black;
	margin-bottom: 10px;
}
thead tr {
        font-family: Titillium;
        text-align: center;
	font-weight: bold;
	text-align: center;
	background-color: #21435C;
	color: #DDD;
	padding: 5px;
}
td {
	border-top: 1px solid black;
        border-right: 1px solid #aaa;
	padding: 5px 5px;
}
td.numeric {
	text-align: center;
}
th {
        border-right: none;
	padding: 5px 20px;
}
tr {
	background-color: #DDD;
}
tr.row-odd {
	background-color: #EEE;
}
table.report td {
	white-space: nowrap;
        padding: 0.5ex 1ex;
}
.thumbnail {
	max-width: 32px;
	max-height: 32px;
}
.image-preview {
	max-width: 64px;
	max-height: 64px;
	vertical-align: middle;
}

.place {
	background-color: white;
	position: absolute;
	border: solid 1px black;
	z-index: 2;
}
.ui-draggable-dragging {
	z-index: 3;
}
.floor {
	background-color: lightgray;
	border: solid 1px black;
	position: relative;
	width: 640px;
	height: 480px;
	overflow: hidden;
}

#popup-container {
	position: fixed;
	background: rgba(0, 0, 0, 0.5);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
}
#popup {
	position: relative;
	margin: auto;
	padding: 10px;
	top: 30%;
	width: 40%;
	font-size: 150%;
	font-family: helvetica;
	min-width: 300px;
	max-width: 600px;
	background-color: #FFF;
	border: 5px solid #21435C;
	border-bottom-right-radius: 25px;
}
#popup-close {
	text-align: right;
}
#about-icon {
	vertical-align: middle;
}
.map {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 40px;
	padding-bottom:20px;
	position: absolute;
	margin-top: 15px;
	text-align: left;
	width: 640px;
	border: 1px solid #ccc;
	border-radius: 2px;
	background-color: #FFF;
	margin-bottom: 10px;
}
.map .actions {
	margin-top: 15px;
	text-align: right;
}
.map .row {
	margin-bottom: 5px;
}

.product-container {
	height: 180px;
	overflow: scroll;
	border: 1px solid #000;
}

.alert {
	margin: 15px 50px 15px 15px;
	background-color: #FBC108;
	background-image: url("img/information.png");
	background-repeat: no-repeat;
	background-position: 12px 12px;
	border-radius:2px;
	padding: 15px 15px 15px 45px;
        border: solid 1px #DDD;
}

.twitter-feed {
    float: right;
    margin: 5px 15px;
    width: 250px;
}

@media (max-width: 800px) {
    .twitter-feed {
        float: right;
        margin: 5px 15px;
        width: 150px;
    }
}

@media (max-width: 680px) {
    .twitter-feed {
        display: none;
    }
}

@font-face {
	font-family: "Titillium";
	src: url("fonts/Titillium-Regular.otf");
}

@font-face {
	font-family: "Amble";
	src: url("fonts/Amble-Regular.ttf");
}

@media print {
	#menu-container {
		display: none;
	}
	#header {
		display: none;
	}
        #footer {
                display: none;
        }
}

